
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital,wght@0,400;1,700&family=Rubik:ital@1&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
:root{
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
}
body{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}
.container{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}
.top-banner{
    background-color: #4fb3d4;
    background-image: url(./asset/asset\ 30.png);
    background-size: 300px;
    /* background-repeat: no-repeat; */
}
.flex{
    display: flex;
    align-items: center;
}
.banner-text{
    color: white;
    padding: 15px 30px;
    text-align: center;
}
.company-logo img{
    width: 200px;
}
.main-nav{
    margin-top: 20px;
    justify-content: space-between;
}
.nav-links ul{
    justify-content: end;
    gap: 40px;
}
.hover-links:hover{
    color: #2294ed;
}
header{
    padding: 50px var(--padding-inline-section);
}
.header-sec{
    justify-content: center;
    gap: 50px;
}
.right img{
    width: 600px;
}
button{
    color: white;
    background-color: #1d69a3;
    border-radius: 10px;
    margin-top: 10px;
    padding: 8px 18px;
}
.help{
    text-align: center;
    /* font-weight: bold;
     */
     font-size: 1.2rem;
    font-weight: 700;
}
.name{
    /* display: block; */
   justify-content: space-between;
    margin-top: 15px;
    /* display: inline-block; */
    gap: 60px;
}
.name img{
    width: 100px;
}
.btn{
    color:black;
    background-color:transparent;
    border-radius: 10px;
    margin-top: 10px;
    padding: 8px 18px;
    
}
.features-header{
    text-align: center;
}
.page-section{
    margin-top: 80px ;
    background-image: url(./asset/asset\ 32.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.area{
    flex-direction: column;
    gap: 10px;
    max-width: 30%;
    text-align: center;
   
}
.feature{
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}
.big-sec{
    padding: 30px;
    /* gap: 30px; */
}
.big-img img{
    width: 94%;
}
.big-desc{
    flex-direction: column;
    align-items: flex-start;
}
.big-feature-container{
    gap: 60px;
}
.example{
    text-align: center;
    gap: 20px;
}
.heading{
    flex-direction: column;
}
.hero{
    justify-content: space-between;
    
}

.example-card{
    justify-content: left;
    /* text-align: center;
    justify-content: center; */
    width: 14%;
    position: relative;
    min-height: 215px;
    /* background: black; */
    /* background-image: url(./asset/asset\ 35.jpeg); */
    margin: 0px 60px;
    gap: 40px;
}
.card-text{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    color: white;
}
.high{
    /* text-align: center; */
    justify-content: center;
    margin-top: 20px;
    gap: 40px;
    /* padding: 0px 10px; */
}
